ADFIT_V2_ENABLED=false
ADFIT_PC_SIDE_ENABLED=false
ADFIT_SECONDARY_ENABLED=false

NEXT_PUBLIC_ADFIT_MONEY_FINANCE_RESULT_MOBILE=
NEXT_PUBLIC_ADFIT_MONEY_FINANCE_RESULT_PC=
NEXT_PUBLIC_ADFIT_MONEY_INCOME_RESULT_MOBILE=
NEXT_PUBLIC_ADFIT_MONEY_INCOME_RESULT_PC=
NEXT_PUBLIC_ADFIT_MONEY_LIVING_RESULT_MOBILE=
NEXT_PUBLIC_ADFIT_MONEY_LIVING_RESULT_PC=
NEXT_PUBLIC_ADFIT_MONEY_PC_SIDE=
NEXT_PUBLIC_ADFIT_MONEY_SECONDARY_MOBILE=
NEXT_PUBLIC_ADFIT_MONEY_SECONDARY_PC=
